<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gzjky.dao.readdao.BiochemicalHistoryReadMapper" >
  <resultMap id="BaseResultMap" type="com.gzjky.bean.gen.BiochemicalHistory" >
    <id column="Id" property="id" jdbcType="INTEGER" />
    <result column="PatientId" property="patientid" jdbcType="INTEGER" />
    <result column="SampleNum" property="samplenum" jdbcType="VARCHAR" />
    <result column="DetectType" property="detecttype" jdbcType="VARCHAR" />
    <result column="DetectTime" property="detecttime" jdbcType="TIMESTAMP" />
    <result column="Detail" property="detail" jdbcType="VARCHAR" />
    <result column="CreatedOn" property="createdon" jdbcType="TIMESTAMP" />
    <result column="Area" property="area" jdbcType="VARCHAR" />
    <result column="Operator" property="operator" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    Id, PatientId, SampleNum, DetectType, DetectTime, Detail, CreatedOn, Area, `Operator`
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from BiochemicalHistory
    where Id = #{id,jdbcType=INTEGER}
  </select>
</mapper>