<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gzjky.dao.readdao.BloodPressureHistoryReadMapper" >
  <resultMap id="BaseResultMap" type="com.gzjky.bean.gen.BloodPressureHistory" >
    <id column="ID" property="id" jdbcType="INTEGER" />
    <result column="PatientID" property="patientid" jdbcType="INTEGER" />
    <result column="EquipmentID" property="equipmentid" jdbcType="INTEGER" />
    <result column="TestingTime" property="testingtime" jdbcType="VARCHAR" />
    <result column="SystolicPressure" property="systolicpressure" jdbcType="INTEGER" />
    <result column="DiastolicPressure" property="diastolicpressure" jdbcType="INTEGER" />
    <result column="PulseRate" property="pulserate" jdbcType="INTEGER" />
    <result column="HeartRate" property="heartrate" jdbcType="INTEGER" />
    <result column="Remark" property="remark" jdbcType="VARCHAR" />
    <result column="CreatedOn" property="createdon" jdbcType="TIMESTAMP" />
    <result column="State" property="state" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, PatientID, EquipmentID, TestingTime, SystolicPressure, DiastolicPressure, PulseRate, 
    HeartRate, Remark, CreatedOn, `State`
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from BloodPressureHistory
    where ID = #{id,jdbcType=INTEGER}
  </select>
  
    <select id="selectBloodPressureByCondition" resultType="com.gzjky.bean.extend.QueryBloodPressureOutputBean" parameterType="com.gzjky.bean.extend.QueryBloodPressureInputBean">
		SELECT
			w1.*
		FROM
			(
				SELECT
					w.*
				FROM
					(
						SELECT
							row_number () OVER (ORDER BY a.TestingTime DESC) n,
							CAST (
								b.EquipmentNum AS VARCHAR (50)
							) AS deviceSerialId,
					c.DeviceVersionName AS deviceVersion,
					a.ID AS id,
					SUBSTRING(a.TestingTime,1,19) AS takeTime,
					a.SystolicPressure AS shrink,
					a.DiastolicPressure AS diastole,
					a.PulseRate AS pressureValue,
					a.State AS state,
					a.Remark AS feedback,
					COUNT(a.TestingTime) over() as total
				FROM
					BloodPressureHistory a,
					Equipment b,
					DeviceVersion c
				WHERE 
					a.EquipmentID = b.Id
				AND b.EquipmentVersion = c.Version
				<if test="null != startDate and '' != startDate">
				AND SUBSTRING(a.TestingTime,1,19) &gt;= SUBSTRING(#{startDate},1,19)
				</if>
				<if test="null != endDate and '' != endDate">
				AND SUBSTRING(a.TestingTime,1,19) &lt;= SUBSTRING(#{endDate},1,19)
				</if>
				<if test="null != bloodType and '' != bloodType">
				AND a.State = #{bloodType}
				</if>
				<if test="null != patientId and '' != patientId">
				AND a.PatientID = #{patientId}
				</if>
				<if test="null == patientId and '' == patientId">
				AND a.PatientID = ''
				</if>
				) w
				WHERE
					n &lt;= #{pageMax}
			) w1
		WHERE
			n &gt;= #{pageMin}
	</select>
	<select id="selectBPandHRresult" resultType="com.gzjky.bean.extend.QueryBPandHROutputBean" parameterType="java.lang.Integer">
		SELECT
			blood.shrink AS shrink,
			blood.diastole AS diastole,
			blood.pulseRate AS pulseRate,
			blood.bloodTakeTime AS bloodTakeTime,
			bloodalert.shrinkAlert AS shrinkAlert,
			bloodalert.diastoleAlert AS diastoleAlert,
			bloodalert.bloodTakeTimeAlert AS bloodTakeTimeAlert,
			heart.heartRate AS heartRate,
			heart.heartTakeTime AS heartTakeTime,
			heartalert.heartRateAlert AS heartRateAlert,
			heartalert.heartTakeTimeAlert AS heartTakeTimeAlert
		FROM
			(
				SELECT
					TOP 1 SystolicPressure AS shrink,
					DiastolicPressure AS diastole,
					PulseRate AS pulseRate,
					TestingTime AS bloodTakeTime,
					PatientID AS patientID
				FROM
					BloodPressureHistory
				WHERE
					PatientID = #{id,jdbcType=INTEGER}
				ORDER BY
					TestingTime DESC
			) blood
		FULL OUTER JOIN (
			SELECT
				TOP 1 SystolicPressure AS shrinkAlert,
				DiastolicPressure AS diastoleAlert,
				TestingTime AS bloodTakeTimeAlert,
				PatientID AS patientID
			FROM
				BloodPressureHistory
			WHERE
				PatientID = #{id,jdbcType=INTEGER}
			AND State = 'Danger'
			ORDER BY
				TestingTime DESC
		) bloodalert ON blood.patientID = bloodalert.patientID
		FULL OUTER JOIN (
			SELECT
				TOP 1 HeartRate AS heartRate,
				TestingTime AS heartTakeTime,
				PatientID AS patientID
			FROM
				ElectrocardioHistory
			WHERE
				PatientID = #{id,jdbcType=INTEGER}
			ORDER BY
				TestingTime DESC
		) heart ON blood.patientID = heart.patientID
		FULL OUTER JOIN (
			SELECT
				TOP 1 HeartRate AS heartRateAlert,
				TestingTime AS heartTakeTimeAlert,
				PatientID AS patientID
			FROM
				ElectrocardioHistory
			WHERE
				PatientID = #{id,jdbcType=INTEGER}
			AND State = 'Danger'
			ORDER BY
				TestingTime DESC
		) heartalert ON blood.patientID = heartalert.patientID
	</select>
	<select id="selectBloodPressureGraft" resultType="com.gzjky.bean.extend.QueryBloodPressureOutputBean" >
		SELECT
			TOP 10 systolicpressure AS shrink,
				   diastolicpressure AS diastole,
				   TestingTime AS takeTime
		FROM
			BloodPressureHistory
		WHERE
			PatientID =  #{id}
		AND BPType = #{bpType}
		ORDER BY
			TestingTime DESC
	</select>
</mapper>