<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gzjky.dao.readdao.DoctorHospitalRoleReadMapper" >
  <resultMap id="BaseResultMap" type="com.gzjky.bean.gen.DoctorHospitalRole" >
    <id column="ID" property="id" jdbcType="INTEGER" />
    <result column="DoctorId" property="doctorid" jdbcType="INTEGER" />
    <result column="HospitalId" property="hospitalid" jdbcType="INTEGER" />
    <result column="RoleId" property="roleid" jdbcType="INTEGER" />
    <result column="CreatedOn" property="createdon" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, DoctorId, HospitalId, RoleId, CreatedOn
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from DoctorHospitalRole
    where ID = #{id,jdbcType=INTEGER}
  </select>
</mapper>