<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gzjky.dao.readdao.ElectrocardioHistoryReadMapper" >
  <resultMap id="BaseResultMap" type="com.gzjky.bean.gen.ElectrocardioHistory" >
    <id column="ID" property="id" jdbcType="INTEGER" />
    <result column="PatientID" property="patientid" jdbcType="INTEGER" />
    <result column="EquipmentID" property="equipmentid" jdbcType="INTEGER" />
    <result column="TestingTime" property="testingtime" jdbcType="VARCHAR" />
    <result column="HeartRate" property="heartrate" jdbcType="INTEGER" />
    <result column="TimeLength" property="timelength" jdbcType="INTEGER" />
    <result column="Remark" property="remark" jdbcType="VARCHAR" />
    <result column="CreatedOn" property="createdon" jdbcType="TIMESTAMP" />
    <result column="State" property="state" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, PatientID, EquipmentID, TestingTime, HeartRate, TimeLength, Remark, CreatedOn, 
    `State`
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from ElectrocardioHistory
    where ID = #{id,jdbcType=INTEGER}
  </select>
  
    <select id="selectElectrocardioByCondition" resultType="com.gzjky.bean.extend.ElectrocardioOutputBean" parameterType="com.gzjky.bean.extend.ElectrocardioInputBean" >
    	SELECT
			w1.*
		FROM
			(
				SELECT
					w.*
				FROM
					(
				SELECT
					row_number () OVER (ORDER BY a.TestingTime DESC) n,
					CAST (
						b.EquipmentNum AS VARCHAR (50)
					) AS deviceSerialId,
					c.DeviceVersionName AS deviceVersion,
					a.ID AS id,
					SUBSTRING (a.TestingTime, 1, 19) AS takeTime,
					a.HeartRate AS heartRate,
					a.State AS state,
					a.TimeLength AS timeLength,
					a.Remark AS feedback,
					COUNT(a.TestingTime) over() as total
				FROM
					ElectrocardioHistory a,
					Equipment b,
					DeviceVersion c
				WHERE
					a.EquipmentID = b.Id
				AND b.EquipmentVersion = c.Version
				<if test="null != startDate and '' != startDate">
				AND SUBSTRING(a.TestingTime,1,19) &gt;= SUBSTRING(#{startDate},1,19)
				</if>
				<if test="null != endDate and '' != endDate">
				AND SUBSTRING(a.TestingTime,1,19) &lt;= SUBSTRING(#{endDate},1,19)
				</if>
				<if test="null != heartType and '' != heartType">
				AND a.State = #{heartType}
				</if>
				<if test="null != patientId and '' != patientId">
				AND a.PatientID = #{patientId}
				</if>
				<if test="null == patientId and '' == patientId">
				AND a.PatientID = ''
				</if>
				) w
				WHERE
					<if test="null != pageMax and '' != pageMax">
					n &lt;= #{pageMax}
					</if>
					<if test="null == pageMax or '' == pageMax">
					1 = 1
					</if>
			) w1
		WHERE
			<if test="null != pageMin and '' != pageMin">
			n &gt;= #{pageMin}
			</if>
			<if test="null == pageMin or '' == pageMin">
			1 = 1
			</if>
  </select>
  
    <select id="selectElectrocardioDetail" resultType="com.gzjky.bean.extend.QueryEcgRecordDetailOutputBean" >
    	SELECT
    		a.HeartRate AS heartRate,
			SUBSTRING(a.TestingTime, 1, 20) AS collectionTime,
			CONVERT(varchar(100), b.ParsingTime, 120) AS uploadTime,
			a.TimeLength AS recordCount,
			b.ParsingResult AS analyseResult,
			b.Baojjy AS suggestion,
			b.DiagnosticDoc AS doctorName,
			b.ElectrocardiogramsUrl AS ecgImage
		FROM
			ElectrocardioHistory a,
			Electrocardiograms b
		WHERE
			a.ID = b.Eid
		AND a.PatientID = #{patientId}
		AND a.ID = #{id}
  </select>
  
  <select id="selectRecentElectrocardioDetail" resultType="com.gzjky.bean.extend.QueryEcgRecordDetailOutputBean" parameterType="java.lang.Integer" >
	SELECT
		TOP 1 heartrate AS heartRate,
		dig.Baojjy AS suggestion,
		dig.ElectrocardiogramsUrl AS ecgImage,
		dig.ParsingResult AS analyseResult
	FROM
		ElectrocardioHistory his
	LEFT JOIN Electrocardiograms dig ON his.id = dig.Eid
	WHERE
		PatientID = #{id,jdbcType=INTEGER}
	ORDER BY
		TestingTime DESC
  </select>
</mapper>