<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gzjky.dao.readdao.EquipmentAndPatientReadMapper" >
  <resultMap id="BaseResultMap" type="com.gzjky.bean.gen.EquipmentAndPatient" >
    <id column="Id" property="id" jdbcType="INTEGER" />
    <result column="EquipmentId" property="equipmentid" jdbcType="INTEGER" />
    <result column="PatientType" property="patienttype" jdbcType="INTEGER" />
    <result column="PatientId" property="patientid" jdbcType="INTEGER" />
    <result column="Creator" property="creator" jdbcType="VARCHAR" />
    <result column="CreatedOn" property="createdon" jdbcType="TIMESTAMP" />
    <result column="Nickname" property="nickname" jdbcType="VARCHAR" />
    <result column="Deleteor" property="deleteor" jdbcType="VARCHAR" />
    <result column="DeleteOn" property="deleteon" jdbcType="TIMESTAMP" />
    <result column="IsDelete" property="isdelete" jdbcType="BIT" />
  </resultMap>
  <sql id="Base_Column_List" >
    Id, EquipmentId, PatientType, PatientId, Creator, CreatedOn, Deleteor, DeleteOn, 
    IsDelete
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from EquipmentAndPatient
    where Id = #{id,jdbcType=INTEGER}
  </select>


	<select id="selectByPatientId" resultType="com.gzjky.bean.extend.PatientAndEquipmentBean"
		parameterType="java.lang.Integer">
		
		select 
			equip.EquipmentNum,
			equip.DeviceVersionName
		from  EquipmentAndPatient eap 
		LEFT JOIN  (select e.Id,e.EquipmentNum,dv.DeviceVersionName from 
			Equipment e LEFT JOIN DeviceVersion dv ON e.EquipmentVersion = dv.Version) equip
			ON eap.EquipmentId=equip.Id

		where eap.PatientId =#{uId,jdbcType=INTEGER}
				and eap.IsDelete=0

	</select>
	
	<select id="selectByEquipNum" resultType="com.gzjky.bean.gen.PatientInfo"
		parameterType="java.lang.String">
		
		select 
			p.*	
		from  EquipmentAndPatient eap 
		LEFT JOIN Equipment e  ON eap.EquipmentId = e.Id
		LEFT JOIN PatientInfo p  ON eap.PatientId=p.Id
  		where e.EquipmentNum= #{EquipmentNum,jdbcType=VARCHAR} 
  		and eap.IsDelete=0

	</select>
	
	<select id="queryMemberBindDevice" resultType="com.gzjky.bean.extend.PatientDeviceInfoBean"
		parameterType="java.lang.Integer">
		select 
			eap.Id as epId,
			eap.Nickname as nickname,
			equ.Id as Id,
			equ.fid as fId,
			equ.Noticeflag as area,
			equ.EquipmentNum as num,
			equ.EquipmentVersion as version,
			equ.DeviceVersionName as versionname,
			equ.SsyMax as ssymax,
			equ.SsyMin as ssymin,
			equ.SzyMax as szymax,
			equ.SzyMin as szymin,
			equ.SIMNum as sim
		from  EquipmentAndPatient eap 
		LEFT JOIN (SELECT e.Id,xy.Noticeflag,e.EquipmentNum,e.EquipmentVersion,dv.DeviceVersionName,xy.SsyMax,xy.SsyMin,xy.SzyMax,xy.SzyMin,e.SIMNum,xy.id as fId FROM Equipment e 
								LEFT JOIN PJcXybjSet xy ON e.Id=xy.Eid  AND xy.Isdelete=0
								LEFT JOIN DeviceVersion dv ON e.EquipmentVersion=dv.Version
								)equ  ON eap.EquipmentId =equ.Id
		LEFT JOIN PatientInfo p  ON eap.PatientId=p.Id
  		where p.Id=#{uId,jdbcType=INTEGER}
  		and eap.IsDelete=0

	</select>
</mapper>