<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gzjky.dao.readdao.HospitalReadMapper" >
  <resultMap id="BaseResultMap" type="com.gzjky.bean.gen.Hospital" >
    <id column="Id" property="id" jdbcType="INTEGER" />
    <result column="HospitalNum" property="hospitalnum" jdbcType="VARCHAR" />
    <result column="HospitalName" property="hospitalname" jdbcType="VARCHAR" />
    <result column="HospitalLevel" property="hospitallevel" jdbcType="VARCHAR" />
    <result column="HospitalAddress" property="hospitaladdress" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    Id, HospitalNum, HospitalName, HospitalLevel, HospitalAddress
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from Hospital
    where Id = #{id,jdbcType=INTEGER}
  </select>
</mapper>