<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gzjky.dao.readdao.HospitalRelationReadMapper" >
  <resultMap id="BaseResultMap" type="com.gzjky.bean.gen.HospitalRelation" >
    <id column="Id" property="id" jdbcType="INTEGER" />
    <result column="HospitalId" property="hospitalid" jdbcType="INTEGER" />
    <result column="OnHospitalId" property="onhospitalid" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    Id, HospitalId, OnHospitalId
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from HospitalRelation
    where Id = #{id,jdbcType=INTEGER}
  </select>
</mapper>