<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gzjky.dao.readdao.JcSetFlagReadMapper" >
  <resultMap id="BaseResultMap" type="com.gzjky.bean.gen.JcSetFlag" >
    <result column="Id" property="id" jdbcType="INTEGER" />
    <result column="Eid" property="eid" jdbcType="INTEGER" />
    <result column="Uid" property="uid" jdbcType="VARCHAR" />
    <result column="setting_flag_simcard" property="settingFlagSimcard" jdbcType="INTEGER" />
    <result column="setting_flag_heartrate_alert" property="settingFlagHeartrateAlert" jdbcType="INTEGER" />
    <result column="setting_flag_blood_pressure_alert" property="settingFlagBloodPressureAlert" jdbcType="INTEGER" />
    <result column="setting_flag_take_medicine_notice" property="settingFlagTakeMedicineNotice" jdbcType="INTEGER" />
    <result column="setting_flag_test_blood_pressure_notice" property="settingFlagTestBloodPressureNotice" jdbcType="INTEGER" />
    <result column="setting_flag_send_data_interval" property="settingFlagSendDataInterval" jdbcType="INTEGER" />
    <result column="Isdelete" property="isdelete" jdbcType="BIT" />
  </resultMap>
  <sql id="Base_Column_List" >
    Id, Eid, Uid, setting_flag_simcard, setting_flag_heartrate_alert,setting_flag_blood_pressure_alert, setting_flag_take_medicine_notice,setting_flag_test_blood_pressure_notice,setting_flag_send_data_interval,Isdelete
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from JcSetFlag
    where Id = #{id,jdbcType=INTEGER}
  </select>
  
     <select id="selectByDeviceIdAndPatientId" resultMap="BaseResultMap" >
    select 
    <include refid="Base_Column_List" />
    from JcSetFlag
    where Eid = #{eid,jdbcType=INTEGER}
    	and Uid= #{uid,jdbcType=VARCHAR}
    	and Isdelete = 0;
  </select>
</mapper>