<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gzjky.dao.readdao.LogsReadMapper" >
  <resultMap id="BaseResultMap" type="com.gzjky.bean.gen.Logs" >
    <id column="ID" property="id" jdbcType="INTEGER" />
    <result column="Level" property="level" jdbcType="VARCHAR" />
    <result column="Logger" property="logger" jdbcType="VARCHAR" />
    <result column="Message" property="message" jdbcType="VARCHAR" />
    <result column="Exception" property="exception" jdbcType="VARCHAR" />
    <result column="LogTime" property="logtime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, `Level`, Logger, Message, `Exception`, LogTime
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from Logs
    where ID = #{id,jdbcType=INTEGER}
  </select>
</mapper>