<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gzjky.dao.readdao.MedicinesNameReadMapper" >
  <resultMap id="BaseResultMap" type="com.gzjky.bean.gen.MedicinesName" >
    <id column="Id" property="id" jdbcType="INTEGER" />
    <result column="CommonName" property="commonname" jdbcType="VARCHAR" />
    <result column="SpecialName" property="specialname" jdbcType="VARCHAR" />
    <result column="Priority" property="priority" jdbcType="CHAR" />
    <result column="Symptom" property="symptom" jdbcType="VARCHAR" />
    <result column="CreatedOn" property="createdon" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    Id, CommonName, SpecialName, Priority, Symptom, CreatedOn
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from MedicinesName
    where Id = #{id,jdbcType=INTEGER}
  </select>
</mapper>