<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gzjky.dao.readdao.MenusReadMapper" >
  <resultMap id="BaseResultMap" type="com.gzjky.bean.gen.Menus" >
    <id column="ID" property="id" jdbcType="INTEGER" />
    <result column="Name" property="name" jdbcType="VARCHAR" />
    <result column="ImageUrl" property="imageurl" jdbcType="VARCHAR" />
    <result column="NavigateUrl" property="navigateurl" jdbcType="VARCHAR" />
    <result column="Remark" property="remark" jdbcType="VARCHAR" />
    <result column="SortIndex" property="sortindex" jdbcType="INTEGER" />
    <result column="ParentID" property="parentid" jdbcType="INTEGER" />
    <result column="ViewPowerID" property="viewpowerid" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, `Name`, ImageUrl, NavigateUrl, Remark, SortIndex, ParentID, ViewPowerID
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from Menus
    where ID = #{id,jdbcType=INTEGER}
  </select>
</mapper>