<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gzjky.dao.readdao.MigrationHistoryReadMapper" >
  <resultMap id="BaseResultMap" type="com.gzjky.bean.gen.MigrationHistory" >
    <id column="MigrationId" property="migrationid" jdbcType="VARCHAR" />
    <id column="ContextKey" property="contextkey" jdbcType="VARCHAR" />
    <result column="ProductVersion" property="productversion" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.gzjky.bean.gen.MigrationHistory" extends="BaseResultMap" >
    <result column="Model" property="model" jdbcType="BLOB" />
  </resultMap>
  <sql id="Base_Column_List" >
    MigrationId, ContextKey, ProductVersion
  </sql>
  <sql id="Blob_Column_List" >
    Model
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="map" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from __MigrationHistory
    where MigrationId = #{migrationid,jdbcType=VARCHAR}
      and ContextKey = #{contextkey,jdbcType=VARCHAR}
  </select>
</mapper>