<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gzjky.dao.readdao.NowComplicationsConfigReadMapper" >
  <resultMap id="BaseResultMap" type="com.gzjky.bean.gen.NowComplicationsConfig" >
    <id column="Id" property="id" jdbcType="INTEGER" />
    <result column="DiseaseName" property="diseasename" jdbcType="VARCHAR" />
    <result column="DiseaseContent" property="diseasecontent" jdbcType="VARCHAR" />
    <result column="DiseaseContentPrompt" property="diseasecontentprompt" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    Id, DiseaseName, DiseaseContent, DiseaseContentPrompt
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from NowComplicationsConfig
    where Id = #{id,jdbcType=INTEGER}
  </select>
</mapper>