<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gzjky.dao.readdao.PatientDiseaseHistoryReadMapper" >
  <resultMap id="BaseResultMap" type="com.gzjky.bean.gen.PatientDiseaseHistory" >
    <id column="Id" property="id" jdbcType="INTEGER" />
    <result column="PatientId" property="patientid" jdbcType="INTEGER" />
    <result column="DiseaseName" property="diseasename" jdbcType="VARCHAR" />
    <result column="StartTime" property="starttime" jdbcType="TIMESTAMP" />
    <result column="EndTime" property="endtime" jdbcType="TIMESTAMP" />
    <result column="DiseaseCode" property="diseasecode" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.gzjky.bean.gen.PatientDiseaseHistory" extends="BaseResultMap" >
    <result column="Hospitalization" property="hospitalization" jdbcType="CLOB" />
    <result column="Outcome" property="outcome" jdbcType="CLOB" />
    <result column="Note" property="note" jdbcType="CLOB" />
  </resultMap>
  <sql id="Base_Column_List" >
    Id, PatientId, DiseaseName, StartTime, EndTime, DiseaseCode
  </sql>
  <sql id="Blob_Column_List" >
    Hospitalization, Outcome, Note
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from PatientDiseaseHistory
    where Id = #{id,jdbcType=INTEGER}
  </select>
  
    <select id="selectByPatientId" resultType="com.gzjky.bean.extend.PatientDiseaseHistoryOutputBean" parameterType="com.gzjky.bean.extend.PatientDiseaseHistoryInputBean" >
    	SELECT
			w1.*
		FROM
			(
				SELECT
					w.*
				FROM
					(
						SELECT
							row_number () OVER (ORDER BY endTime DESC) n,
							DiseaseName AS diseaseName,
							CONVERT (VARCHAR(100), StartTime, 23) AS startTime,
							CONVERT (VARCHAR(100), EndTime, 23) AS endTime,
							Hospitalization AS hospitalRecord,
							Outcome AS recoverRecord,
							Note AS comment,
							DiseaseCode AS diseaseCode,
							COUNT(endTime) over() as total
						FROM
							PatientDiseaseHistory
						WHERE
							PatientId = #{ patientId }
					) w
				WHERE
					n &lt;= #{ pageMax }
			) w1
		WHERE
			n &gt;= #{ pageMin }
  </select>
</mapper>