<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gzjky.dao.readdao.PatientNowComplicationsCheckedReadMapper" >
  <resultMap id="BaseResultMap" type="com.gzjky.bean.gen.PatientNowComplicationsChecked" >
    <id column="Id" property="id" jdbcType="INTEGER" />
    <result column="PatientId" property="patientid" jdbcType="INTEGER" />
    <result column="diseaseIdValue" property="diseaseidvalue" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    Id, PatientId, diseaseIdValue
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from PatientNowComplicationsChecked
    where Id = #{id,jdbcType=INTEGER}
  </select>
  
    <select id="selectByPatientId" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from PatientNowComplicationsChecked
    where PatientId = #{patientId,jdbcType=INTEGER}
  </select>
</mapper>