<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gzjky.dao.readdao.PatientHealthCheckReadMapper" >
  <resultMap id="BaseResultMap" type="com.gzjky.bean.gen.PatientHealthCheck" >
    <id column="Id" property="id" jdbcType="INTEGER" />
    <result column="PatientId" property="patientid" jdbcType="INTEGER" />
    <result column="PostprandialBloodGlucose" property="postprandialbloodglucose" jdbcType="DOUBLE" />
    <result column="FastingPlasmaGlucose" property="fastingplasmaglucose" jdbcType="DOUBLE" />
    <result column="TotalCholesterol" property="totalcholesterol" jdbcType="DOUBLE" />
    <result column="HighDensityCholesterol" property="highdensitycholesterol" jdbcType="DOUBLE" />
    <result column="LowDensityCholesterol" property="lowdensitycholesterol" jdbcType="DOUBLE" />
    <result column="SerumCreatinine" property="serumcreatinine" jdbcType="DOUBLE" />
    <result column="TraceUrinaryAlbumin" property="traceurinaryalbumin" jdbcType="DOUBLE" />
  </resultMap>
  <sql id="Base_Column_List" >
    Id, PatientId, PostprandialBloodGlucose, FastingPlasmaGlucose, TotalCholesterol, 
    HighDensityCholesterol, LowDensityCholesterol, SerumCreatinine, TraceUrinaryAlbumin
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from PatientHealthCheck
    where Id = #{id,jdbcType=INTEGER}
  </select>
  
    <select id="selectByPatientId" resultType="com.gzjky.bean.extend.PatientHealthCheckOutputBean" parameterType="com.gzjky.bean.extend.PatientHealthCheckInputBean" >
    		SELECT
			w1.*
		FROM
			(
				SELECT
					w.*
				FROM
					(
						SELECT
							row_number () OVER (ORDER BY id DESC) n,
							id AS id,
							PatientId AS patientid,
							PostprandialBloodGlucose AS chxt,
							FastingPlasmaGlucose AS kfqxxt,
							TotalCholesterol AS zdgc,
							HighDensityCholesterol AS gmdzdbdgc,
							LowDensityCholesterol AS dmdzdbdgc,
							SerumCreatinine AS xqjq,
							TraceUrinaryAlbumin AS wlnbdb,
							COUNT (id) OVER () AS total
						FROM
							PatientHealthCheck
						where PatientId = #{patientId,jdbcType=INTEGER}
					) w
				WHERE
					n &lt;= #{ pageMax }
			) w1
		WHERE
			n &gt;= #{ pageMin }
  </select>
</mapper>