<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gzjky.dao.readdao.PatientAndHospitalDoctorReadMapper" >
  <resultMap id="BaseResultMap" type="com.gzjky.bean.gen.PatientAndHospitalDoctor" >
    <id column="Id" property="id" jdbcType="INTEGER" />
    <result column="PatientId" property="patientid" jdbcType="INTEGER" />
    <result column="BindType" property="bindtype" jdbcType="VARCHAR" />
    <result column="HospitalId" property="hospitalid" jdbcType="INTEGER" />
    <result column="DoctorId" property="doctorid" jdbcType="INTEGER" />
    <result column="IsDelete" property="isdelete" jdbcType="BIT" />
    <result column="Creator" property="creator" jdbcType="VARCHAR" />
    <result column="CreatedOn" property="createdon" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    Id, PatientId, BindType, HospitalId, DoctorId, IsDelete, Creator, CreatedOn
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from PatientAndHospitalDoctor
    where Id = #{id,jdbcType=INTEGER}
  </select>
</mapper>