<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gzjky.dao.readdao.PatientWorkInfoReadMapper" >
  <resultMap id="BaseResultMap" type="com.gzjky.bean.gen.PatientWorkInfo" >
    <id column="Id" property="id" jdbcType="INTEGER" />
    <result column="PatientId" property="patientid" jdbcType="INTEGER" />
    <result column="WorkYear" property="workyear" jdbcType="VARCHAR" />
    <result column="Income" property="income" jdbcType="VARCHAR" />
    <result column="CompanyName" property="companyname" jdbcType="VARCHAR" />
    <result column="CompanyAddress" property="companyaddress" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    Id, PatientId, WorkYear, Income, CompanyName, CompanyAddress
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from PatientWorkInfo
    where Id = #{id,jdbcType=INTEGER}
  </select>
</mapper>