<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gzjky.dao.readdao.PatientNowComplicationsMasterReadMapper" >
  <resultMap id="BaseResultMap" type="com.gzjky.bean.gen.PatientNowComplicationsMaster" >
    <id column="Id" property="id" jdbcType="INTEGER" />
    <result column="diseaseName" property="diseasename" jdbcType="VARCHAR" />
    <result column="diseaseSubName" property="diseasesubname" jdbcType="VARCHAR" />
    <result column="diseaseIdValue" property="diseaseidvalue" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    Id, diseaseName, diseaseSubName, diseaseIdValue
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from PatientNowComplicationsMaster
    where Id = #{id,jdbcType=INTEGER}
  </select>
</mapper>