<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gzjky.dao.readdao.PatientHighBloodInfoReadMapper" >
  <resultMap id="BaseResultMap" type="com.gzjky.bean.gen.PatientHighBloodInfo" >
    <id column="Id" property="id" jdbcType="INTEGER" />
    <result column="PatientId" property="patientid" jdbcType="INTEGER" />
    <result column="HaveHighBloodTime" property="havehighbloodtime" jdbcType="TIMESTAMP" />
    <result column="IsDrug" property="isdrug" jdbcType="VARCHAR" />
    <result column="HighestSystolicPressure" property="highestsystolicpressure" jdbcType="INTEGER" />
    <result column="HighestDiastolicPressure" property="highestdiastolicpressure" jdbcType="INTEGER" />
    <result column="BloodPressureLevel" property="bloodpressurelevel" jdbcType="VARCHAR" />
    <result column="RiskLevel" property="risklevel" jdbcType="VARCHAR" />
    <result column="Efficacy" property="efficacy" jdbcType="CLOB" />
  </resultMap>
  <sql id="Base_Column_List" >
    Id, PatientId, HaveHighBloodTime, IsDrug, HighestSystolicPressure, HighestDiastolicPressure, 
    BloodPressureLevel, RiskLevel,Efficacy
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from PatientHighBloodInfo
    where Id = #{id,jdbcType=INTEGER}
  </select>
  
    <select id="selectByPatientid" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    	<include refid="Base_Column_List" />
    from PatientHighBloodInfo
    where PatientId = #{patientId,jdbcType=INTEGER}
  </select>
  
  <select id="selectRecordByPatientid" resultType="com.gzjky.bean.extend.QueryMemberHtSpecialOutputBean" parameterType="java.lang.Integer" >
    	SELECT
			Id AS id,
			CONVERT(varchar(100), HaveHighBloodTime, 23) AS havaBloodDate,
			IsDrug AS isUseMedicine,
			Efficacy AS effect,
			HighestSystolicPressure AS sbp,
			HighestDiastolicPressure AS dbp,
			BloodPressureLevel AS BPLevel,
			RiskLevel AS RiskLevel 
		FROM
			PatientHighBloodInfo
		WHERE
			PatientId = #{patientId,jdbcType=INTEGER}
  </select>
</mapper>