<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gzjky.dao.readdao.sysdiagramsReadMapper" >
  <resultMap id="BaseResultMap" type="com.gzjky.bean.gen.sysdiagrams" >
    <id column="diagram_id" property="diagramId" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="principal_id" property="principalId" jdbcType="INTEGER" />
    <result column="version" property="version" jdbcType="INTEGER" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.gzjky.bean.gen.sysdiagrams" extends="BaseResultMap" >
    <result column="definition" property="definition" jdbcType="BLOB" />
  </resultMap>
  <sql id="Base_Column_List" >
    diagram_id, `name`, principal_id, version
  </sql>
  <sql id="Blob_Column_List" >
    `definition`
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from sysdiagrams
    where diagram_id = #{diagramId,jdbcType=INTEGER}
  </select>
</mapper>