<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gzjky.dao.readdao.UserPasswordFindReadMapper">
  <resultMap id="BaseResultMap" type="com.gzjky.bean.gen.UserPasswordFind">
    <id column="Uid" jdbcType="VARCHAR" property="uid" />
    <result column="UserId" jdbcType="INTEGER" property="userid" />
    <result column="BeginTime" jdbcType="TIMESTAMP" property="begintime" />
    <result column="EndTime" jdbcType="TIMESTAMP" property="endtime" />
    <result column="NewPassWord" jdbcType="VARCHAR" property="newpassword" />
  </resultMap>
  <sql id="Base_Column_List">
    Uid, UserId, BeginTime, EndTime, NewPassWord
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from UserPasswordFind
    where Uid = #{uid,jdbcType=VARCHAR}
  </select>
 
</mapper>