<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gzjky.dao.readdao.UserAndPhoneReadMapper" >
  <resultMap id="BaseResultMap" type="com.gzjky.bean.gen.UserAndPhone" >
    <result column="Id" property="id" jdbcType="INTEGER" />
    <result column="UserName" property="username" jdbcType="VARCHAR" />
    <result column="UserDevice" property="userdevice" jdbcType="VARCHAR" />
  </resultMap>
 <sql id="Base_Column_List" >
    Id, UserName, UserDevice
  </sql>
  
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from UserAndPhone
    where UserName = #{username,jdbcType=VARCHAR}
  </select>

  
</mapper>