<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gzjky.dao.readdao.UserAndPatientReadMapper" >
  <resultMap id="BaseResultMap" type="com.gzjky.bean.gen.UserAndPatient" >
    <id column="Id" property="id" jdbcType="INTEGER" />
    <result column="UserId" property="userid" jdbcType="INTEGER" />
    <result column="PatientId" property="patientid" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    Id, UserId, PatientId
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from UserAndPatient
    where Id = #{id,jdbcType=INTEGER}
  </select>
  
  <select id="selectByUserId" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from UserAndPatient
    where UserId = #{id,jdbcType=INTEGER}
    order by PatientId
  </select>

	<select id="selectUserAndPatientinfoByUserId" resultType="com.gzjky.bean.extend.UserinfoAndPatientinfoBean"
		parameterType="java.lang.Integer">
		select
		U.ID AS uid
		,U.Name AS uname
		,P.Id AS pid
		,P.PatientName AS pname
		from Users U,UserAndPatient UP,PatientInfo P
		WHERE 
		U.ID= #{uId,jdbcType=INTEGER}
		AND U.ID=UP.UserId
		AND UP.PatientId = P.Id
		ORDER BY pid
	</select>
</mapper>