<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gzjky.dao.writedao.BloodPressureHistoryWriteMapper" >
  <resultMap id="BaseResultMap" type="com.gzjky.bean.gen.BloodPressureHistory" >
    <id column="ID" property="id" jdbcType="INTEGER" />
    <result column="PatientID" property="patientid" jdbcType="INTEGER" />
    <result column="EquipmentID" property="equipmentid" jdbcType="INTEGER" />
    <result column="TestingTime" property="testingtime" jdbcType="VARCHAR" />
    <result column="SystolicPressure" property="systolicpressure" jdbcType="INTEGER" />
    <result column="DiastolicPressure" property="diastolicpressure" jdbcType="INTEGER" />
    <result column="PulseRate" property="pulserate" jdbcType="INTEGER" />
    <result column="HeartRate" property="heartrate" jdbcType="INTEGER" />
    <result column="Remark" property="remark" jdbcType="VARCHAR" />
    <result column="CreatedOn" property="createdon" jdbcType="TIMESTAMP" />
    <result column="State" property="state" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, PatientID, EquipmentID, TestingTime, SystolicPressure, DiastolicPressure, PulseRate, 
    HeartRate, Remark, CreatedOn, `State`
  </sql>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from BloodPressureHistory
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.gzjky.bean.gen.BloodPressureHistory" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT SCOPE_IDENTITY()
    </selectKey>
    insert into BloodPressureHistory (PatientID, EquipmentID, TestingTime, 
      SystolicPressure, DiastolicPressure, PulseRate, 
      HeartRate, Remark, CreatedOn, 
      `State`)
    values (#{patientid,jdbcType=INTEGER}, #{equipmentid,jdbcType=INTEGER}, #{testingtime,jdbcType=VARCHAR}, 
      #{systolicpressure,jdbcType=INTEGER}, #{diastolicpressure,jdbcType=INTEGER}, #{pulserate,jdbcType=INTEGER}, 
      #{heartrate,jdbcType=INTEGER}, #{remark,jdbcType=VARCHAR}, #{createdon,jdbcType=TIMESTAMP}, 
      #{state,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.gzjky.bean.gen.BloodPressureHistory" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT SCOPE_IDENTITY()
    </selectKey>
    insert into BloodPressureHistory
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="patientid != null" >
        PatientID,
      </if>
      <if test="equipmentid != null" >
        EquipmentID,
      </if>
      <if test="testingtime != null" >
        TestingTime,
      </if>
      <if test="systolicpressure != null" >
        SystolicPressure,
      </if>
      <if test="diastolicpressure != null" >
        DiastolicPressure,
      </if>
      <if test="pulserate != null" >
        PulseRate,
      </if>
      <if test="heartrate != null" >
        HeartRate,
      </if>
      <if test="remark != null" >
        Remark,
      </if>
      <if test="createdon != null" >
        CreatedOn,
      </if>
      <if test="state != null" >
        `State`,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="patientid != null" >
        #{patientid,jdbcType=INTEGER},
      </if>
      <if test="equipmentid != null" >
        #{equipmentid,jdbcType=INTEGER},
      </if>
      <if test="testingtime != null" >
        #{testingtime,jdbcType=VARCHAR},
      </if>
      <if test="systolicpressure != null" >
        #{systolicpressure,jdbcType=INTEGER},
      </if>
      <if test="diastolicpressure != null" >
        #{diastolicpressure,jdbcType=INTEGER},
      </if>
      <if test="pulserate != null" >
        #{pulserate,jdbcType=INTEGER},
      </if>
      <if test="heartrate != null" >
        #{heartrate,jdbcType=INTEGER},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createdon != null" >
        #{createdon,jdbcType=TIMESTAMP},
      </if>
      <if test="state != null" >
        #{state,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.gzjky.bean.gen.BloodPressureHistory" >
    update BloodPressureHistory
    <set >
      <if test="patientid != null" >
        PatientID = #{patientid,jdbcType=INTEGER},
      </if>
      <if test="equipmentid != null" >
        EquipmentID = #{equipmentid,jdbcType=INTEGER},
      </if>
      <if test="testingtime != null" >
        TestingTime = #{testingtime,jdbcType=VARCHAR},
      </if>
      <if test="systolicpressure != null" >
        SystolicPressure = #{systolicpressure,jdbcType=INTEGER},
      </if>
      <if test="diastolicpressure != null" >
        DiastolicPressure = #{diastolicpressure,jdbcType=INTEGER},
      </if>
      <if test="pulserate != null" >
        PulseRate = #{pulserate,jdbcType=INTEGER},
      </if>
      <if test="heartrate != null" >
        HeartRate = #{heartrate,jdbcType=INTEGER},
      </if>
      <if test="remark != null" >
        Remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createdon != null" >
        CreatedOn = #{createdon,jdbcType=TIMESTAMP},
      </if>
      <if test="state != null" >
        `State` = #{state,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.gzjky.bean.gen.BloodPressureHistory" >
    update BloodPressureHistory
    set PatientID = #{patientid,jdbcType=INTEGER},
      EquipmentID = #{equipmentid,jdbcType=INTEGER},
      TestingTime = #{testingtime,jdbcType=VARCHAR},
      SystolicPressure = #{systolicpressure,jdbcType=INTEGER},
      DiastolicPressure = #{diastolicpressure,jdbcType=INTEGER},
      PulseRate = #{pulserate,jdbcType=INTEGER},
      HeartRate = #{heartrate,jdbcType=INTEGER},
      Remark = #{remark,jdbcType=VARCHAR},
      CreatedOn = #{createdon,jdbcType=TIMESTAMP},
      `State` = #{state,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=INTEGER}
  </update>
</mapper>