<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gzjky.dao.writedao.FamilyPhoneWriteMapper" >
  <resultMap id="BaseResultMap" type="com.gzjky.bean.gen.FamilyPhone" >
    <id column="ID" property="id" jdbcType="INTEGER" />
    <result column="PatientID" property="patientid" jdbcType="VARCHAR" />
    <result column="Name" property="name" jdbcType="VARCHAR" />
    <result column="Telephone" property="telephone" jdbcType="VARCHAR" />
    <result column="Cellphone" property="cellphone" jdbcType="VARCHAR" />
    <result column="Report" property="report" jdbcType="VARCHAR" />
    <result column="FamilyShip" property="familyship" jdbcType="VARCHAR" />
    <result column="Company" property="company" jdbcType="VARCHAR" />
    <result column="Email" property="email" jdbcType="VARCHAR" />
    <result column="Address" property="address" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, PatientID, `Name`, Telephone, Cellphone, Report, FamilyShip, Company, Email, 
    Address
  </sql>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from FamilyPhone
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.gzjky.bean.gen.FamilyPhone" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT SCOPE_IDENTITY()
    </selectKey>
    insert into FamilyPhone (PatientID, `Name`, Telephone, 
      Cellphone, Report, FamilyShip, 
      Company, Email, Address
      )
    values (#{patientid,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{telephone,jdbcType=VARCHAR}, 
      #{cellphone,jdbcType=VARCHAR}, #{report,jdbcType=VARCHAR}, #{familyship,jdbcType=VARCHAR}, 
      #{company,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.gzjky.bean.gen.FamilyPhone" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT SCOPE_IDENTITY()
    </selectKey>
    insert into FamilyPhone
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="patientid != null" >
        PatientID,
      </if>
      <if test="name != null" >
        `Name`,
      </if>
      <if test="telephone != null" >
        Telephone,
      </if>
      <if test="cellphone != null" >
        Cellphone,
      </if>
      <if test="report != null" >
        Report,
      </if>
      <if test="familyship != null" >
        FamilyShip,
      </if>
      <if test="company != null" >
        Company,
      </if>
      <if test="email != null" >
        Email,
      </if>
      <if test="address != null" >
        Address,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="patientid != null" >
        #{patientid,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="telephone != null" >
        #{telephone,jdbcType=VARCHAR},
      </if>
      <if test="cellphone != null" >
        #{cellphone,jdbcType=VARCHAR},
      </if>
      <if test="report != null" >
        #{report,jdbcType=VARCHAR},
      </if>
      <if test="familyship != null" >
        #{familyship,jdbcType=VARCHAR},
      </if>
      <if test="company != null" >
        #{company,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        #{address,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.gzjky.bean.gen.FamilyPhone" >
    update FamilyPhone
    <set >
      <if test="patientid != null" >
        PatientID = #{patientid,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        `Name` = #{name,jdbcType=VARCHAR},
      </if>
      <if test="telephone != null" >
        Telephone = #{telephone,jdbcType=VARCHAR},
      </if>
      <if test="cellphone != null" >
        Cellphone = #{cellphone,jdbcType=VARCHAR},
      </if>
      <if test="report != null" >
        Report = #{report,jdbcType=VARCHAR},
      </if>
      <if test="familyship != null" >
        FamilyShip = #{familyship,jdbcType=VARCHAR},
      </if>
      <if test="company != null" >
        Company = #{company,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        Email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        Address = #{address,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.gzjky.bean.gen.FamilyPhone" >
    update FamilyPhone
    set PatientID = #{patientid,jdbcType=VARCHAR},
      `Name` = #{name,jdbcType=VARCHAR},
      Telephone = #{telephone,jdbcType=VARCHAR},
      Cellphone = #{cellphone,jdbcType=VARCHAR},
      Report = #{report,jdbcType=VARCHAR},
      FamilyShip = #{familyship,jdbcType=VARCHAR},
      Company = #{company,jdbcType=VARCHAR},
      Email = #{email,jdbcType=VARCHAR},
      Address = #{address,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=INTEGER}
  </update>
</mapper>