<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gzjky.dao.writedao.PatientFamilyGeneticHistoryDetailWriteMapper" >
  <resultMap id="BaseResultMap" type="com.gzjky.bean.gen.PatientFamilyGeneticHistoryDetail" >
    <id column="Id" property="id" jdbcType="INTEGER" />
    <result column="PatientId" property="patientid" jdbcType="INTEGER" />
    <result column="Relationship" property="relationship" jdbcType="VARCHAR" />
    <result column="SickYear" property="sickyear" jdbcType="VARCHAR" />
    <result column="DiaseaseName" property="diaseasename" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    Id, PatientId, Relationship, SickYear, DiaseaseName
  </sql>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from PatientFamilyGeneticHistoryDetail
    where Id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.gzjky.bean.gen.PatientFamilyGeneticHistoryDetail" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT SCOPE_IDENTITY()
    </selectKey>
    insert into PatientFamilyGeneticHistoryDetail (PatientId, Relationship, SickYear, 
      DiaseaseName)
    values (#{patientid,jdbcType=INTEGER}, #{relationship,jdbcType=VARCHAR}, #{sickyear,jdbcType=VARCHAR}, 
      #{diaseasename,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.gzjky.bean.gen.PatientFamilyGeneticHistoryDetail" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT SCOPE_IDENTITY()
    </selectKey>
    insert into PatientFamilyGeneticHistoryDetail
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="patientid != null" >
        PatientId,
      </if>
      <if test="relationship != null" >
        Relationship,
      </if>
      <if test="sickyear != null" >
        SickYear,
      </if>
      <if test="diaseasename != null" >
        DiaseaseName,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="patientid != null" >
        #{patientid,jdbcType=INTEGER},
      </if>
      <if test="relationship != null" >
        #{relationship,jdbcType=VARCHAR},
      </if>
      <if test="sickyear != null" >
        #{sickyear,jdbcType=VARCHAR},
      </if>
      <if test="diaseasename != null" >
        #{diaseasename,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.gzjky.bean.gen.PatientFamilyGeneticHistoryDetail" >
    update PatientFamilyGeneticHistoryDetail
    <set >
      <if test="patientid != null" >
        PatientId = #{patientid,jdbcType=INTEGER},
      </if>
      <if test="relationship != null" >
        Relationship = #{relationship,jdbcType=VARCHAR},
      </if>
      <if test="sickyear != null" >
        SickYear = #{sickyear,jdbcType=VARCHAR},
      </if>
      <if test="diaseasename != null" >
        DiaseaseName = #{diaseasename,jdbcType=VARCHAR},
      </if>
    </set>
    where Id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.gzjky.bean.gen.PatientFamilyGeneticHistoryDetail" >
    update PatientFamilyGeneticHistoryDetail
    set PatientId = #{patientid,jdbcType=INTEGER},
      Relationship = #{relationship,jdbcType=VARCHAR},
      SickYear = #{sickyear,jdbcType=VARCHAR},
      DiaseaseName = #{diaseasename,jdbcType=VARCHAR}
    where Id = #{id,jdbcType=INTEGER}
  </update>
  
   <delete id="deleteByPatientId" parameterType="java.lang.Integer" >
    delete from PatientFamilyGeneticHistoryDetail
    where PatientId = #{patientId,jdbcType=INTEGER}
  </delete>
</mapper>