<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gzjky.dao.writedao.PatientNowComplicationsCheckedWriteMapper" >
  <resultMap id="BaseResultMap" type="com.gzjky.bean.gen.PatientNowComplicationsChecked" >
    <id column="Id" property="id" jdbcType="INTEGER" />
    <result column="PatientId" property="patientid" jdbcType="INTEGER" />
    <result column="diseaseIdValue" property="diseaseidvalue" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    Id, PatientId, diseaseIdValue
  </sql>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from PatientNowComplicationsChecked
    where Id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.gzjky.bean.gen.PatientNowComplicationsChecked" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT SCOPE_IDENTITY()
    </selectKey>
    insert into PatientNowComplicationsChecked (PatientId, diseaseIdValue)
    values (#{patientid,jdbcType=INTEGER}, #{diseaseidvalue,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.gzjky.bean.gen.PatientNowComplicationsChecked" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT SCOPE_IDENTITY()
    </selectKey>
    insert into PatientNowComplicationsChecked
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="patientid != null" >
        PatientId,
      </if>
      <if test="diseaseidvalue != null" >
        diseaseIdValue,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="patientid != null" >
        #{patientid,jdbcType=INTEGER},
      </if>
      <if test="diseaseidvalue != null" >
        #{diseaseidvalue,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.gzjky.bean.gen.PatientNowComplicationsChecked" >
    update PatientNowComplicationsChecked
    <set >
      <if test="patientid != null" >
        PatientId = #{patientid,jdbcType=INTEGER},
      </if>
      <if test="diseaseidvalue != null" >
        diseaseIdValue = #{diseaseidvalue,jdbcType=VARCHAR},
      </if>
    </set>
    where Id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.gzjky.bean.gen.PatientNowComplicationsChecked" >
    update PatientNowComplicationsChecked
    set PatientId = #{patientid,jdbcType=INTEGER},
      diseaseIdValue = #{diseaseidvalue,jdbcType=VARCHAR}
    where Id = #{id,jdbcType=INTEGER}
  </update>
  
   <delete id="deleteByPatientId" parameterType="java.lang.Integer" >
    delete from PatientNowComplicationsChecked
    where PatientId = #{patientId,jdbcType=INTEGER}
  </delete>
</mapper>