<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gzjky.dao.writedao.UserPasswordFindWriteMapper">
  <resultMap id="BaseResultMap" type="com.gzjky.bean.gen.UserPasswordFind">
    <id column="Uid" jdbcType="VARCHAR" property="uid" />
    <result column="UserId" jdbcType="INTEGER" property="userid" />
    <result column="BeginTime" jdbcType="TIMESTAMP" property="begintime" />
    <result column="EndTime" jdbcType="TIMESTAMP" property="endtime" />
    <result column="NewPassWord" jdbcType="VARCHAR" property="newpassword" />
  </resultMap>
  <sql id="Base_Column_List">
    `Uid`, UserId, BeginTime, EndTime, NewPassWord
  </sql>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from UserPasswordFind
    where `Uid` = #{uid,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.gzjky.bean.gen.UserPasswordFind">
    insert into UserPasswordFind (Uid, UserId, BeginTime, 
      EndTime, NewPassWord)
    values (#{uid,jdbcType=VARCHAR}, #{userid,jdbcType=INTEGER}, #{begintime,jdbcType=TIMESTAMP}, 
      #{endtime,jdbcType=TIMESTAMP}, #{newpassword,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.gzjky.bean.gen.UserPasswordFind">
    insert into UserPasswordFind
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="uid != null">
        `Uid`,
      </if>
      <if test="userid != null">
        UserId,
      </if>
      <if test="begintime != null">
        BeginTime,
      </if>
      <if test="endtime != null">
        EndTime,
      </if>
      <if test="newpassword != null">
        NewPassWord,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="uid != null">
        #{uid,jdbcType=VARCHAR},
      </if>
      <if test="userid != null">
        #{userid,jdbcType=INTEGER},
      </if>
      <if test="begintime != null">
        #{begintime,jdbcType=TIMESTAMP},
      </if>
      <if test="endtime != null">
        #{endtime,jdbcType=TIMESTAMP},
      </if>
      <if test="newpassword != null">
        #{newpassword,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.gzjky.bean.gen.UserPasswordFind">
    update UserPasswordFind
    <set>
      <if test="userid != null">
        UserId = #{userid,jdbcType=INTEGER},
      </if>
      <if test="begintime != null">
        BeginTime = #{begintime,jdbcType=TIMESTAMP},
      </if>
      <if test="endtime != null">
        EndTime = #{endtime,jdbcType=TIMESTAMP},
      </if>
      <if test="newpassword != null">
        NewPassWord = #{newpassword,jdbcType=VARCHAR},
      </if>
    </set>
    where `Uid` = #{uid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.gzjky.bean.gen.UserPasswordFind">
    update UserPasswordFind
    set UserId = #{userid,jdbcType=INTEGER},
      BeginTime = #{begintime,jdbcType=TIMESTAMP},
      EndTime = #{endtime,jdbcType=TIMESTAMP},
      NewPassWord = #{newpassword,jdbcType=VARCHAR}
    where `Uid` = #{uid,jdbcType=VARCHAR}
  </update>
 
</mapper>